.tag {
  --tag-gap: 4px;
  --tag-size-small-padding-y: 4px;
  --tag-size-small-padding-x: 8px;
  --tag-size-small-min-height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--tag-gap);
  position: relative;
  border-radius: var(--radius-lg);
  transition: background-color var(--transition-base), border-color var(--transition-base);

  &--size {
    &-small {
      padding: var(--tag-size-small-padding-y) var(--tag-size-small-padding-x);
      min-height: var(--tag-size-small-min-height);
    }
  }

  &--theme {
    &-primary {
      border: 1px solid var(--gray-color-200);
      background-color: transparent;
      color: var(--gray-color-0);
    }
    
    &-flat {
      color: var(--gray-color-0);
      background-color: transparent;
      border: 1px dashed var(--gray-color-0);
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --tag-gap: #{vw(4)};
    --tag-size-small-padding-y: #{vw(4)};
    --tag-size-small-padding-x: #{vw(8)};
    --tag-size-small-min-height: #{vw(25)};
  }
}
