.progress {
  --progress-gap: 10px;
  --progress-line-height: 2px;
  --progress-content-gap: 6px;

  display: flex;
  flex-direction: column;
  gap: var(--progress-gap);

  &__line {
    width: 100%;
    height: var(--progress-line-height);
    background-color: var(--gray-color-100);
    display: flex;

    span {
      display: inline-flex;
      height: 100%;
      background-color: var(--gray-color-0);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--progress-content-gap);
  }

  @media (min-width: $desktop-breakpoint) {
    --progress-gap: #{vw(10)};
    --progress-line-height: #{vw(2)};
    --progress-content-gap: #{vw(6)};
  }
}
