.contacts {
  --contacts-inner-gap: 48px;
  --contacts-content-mw: 450px;
  --contacts-info-gap: 24px;
  --contacts-content-gap: 20px;

  width: 100%;

  &__inner {
    display: flex;
    gap: var(--contacts-inner-gap);
    height: 100%;
    // align-items: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--contacts-content-gap);
    max-width: var(--contacts-content-mw);
    width: 100%;
    position: sticky;
    height: fit-content;
    top: calc(
      var(--header-height, var(--calback-header-height)) +
        var(--main-padding-top-no-home)
    );
    min-height: calc(100dvh - var(--header-height, var(--calback-header-height)) - var(--main-padding-top-no-home) - var(--footer-padding-bottom-single));
    // background-color: #fff;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--contacts-info-gap);
  }

  &__container {
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    line-height: var(--line-height-tight);
  }

  &__sidebar {
    max-width: 40%;
    width: 100%;
    margin-left: auto;
  }

  // &__img {
  //   max-width: 400px;
  //   width: 100%;
  //   height: 400px;
  //   margin: auto auto;
  // }

  @media (min-width: $desktop-breakpoint) {
    --contacts-inner-gap: #{vw(48)};
    --contacts-content-mw: #{vw(450)};
    --contacts-info-gap: #{vw(24)};
    --contacts-content-gap: #{vw(20)};
  }

  @media (max-width: $md-desktop-breakpoint) or (max-height: 730px) {
    --contacts-content-mw: 100%;
    --contacts-content-gap: 40px;

    &__inner {
      flex-direction: column;
    }

    &__content {
      position: static;
      min-height: 0;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --contacts-inner-gap: 40px;
    --contacts-info-gap: 12px;
  }
}
