.skills {
  width: 100%;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
    flex: 1;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__container {
    min-height: 100%;
    display: flex;
  }

  &__content {
    flex: 1;
  }

  @media (max-width: $tablet-breakpoint) or (max-height: 500px) {
    min-height: 0;
    
    &__inner {
      min-height: auto;
      margin-top: auto;
    }

    &__text {
      display: none;
    }

    &__content {
      // height: 50dvh;
    }
  }
}
