.button {
  --button-padding-small: 2px 8px;
  --button-padding-medium: 2px 12px;
  --button-icon-size-small: 40px;
  --button-icon-size-medium: 48px;
  --button-text-min-height-small: 34px;
  --button-text-min-height-medium: 38px;

  --button-gap: 8px;
  --button-border-width: 1px;
  --button-radius-icon: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--button-gap);
  cursor: pointer;
  border: var(--button-border-width) solid transparent;
  transition: background-color var(--transition-base), color var(--transition-base);

  &--size {
    &-small {
      padding: var(--button-padding-small);

      &.button {
        &--variant {
          &-icon {
            width: var(--button-icon-size-small);
            height: var(--button-icon-size-small);
          }

          &-text {
            min-height: var(--button-text-min-height-small);
          }
        }
      }
    }

    &-medium {
      padding: var(--button-padding-medium);

      &.button {
        &--variant {
          &-icon {
            padding: 0;
            width: var(--button-icon-size-medium);
            height: var(--button-icon-size-medium);
          }

          &-text {
            min-height: var(--button-text-min-height-medium);
          }
        }
      }
    }
  }

  &--variant {
    &-text {
      border-radius: var(--radius-base);
    }

    &-icon {
      border-radius: var(--button-radius-icon);
      flex-shrink: 0;
    }
  }

  &--theme {
    &-primary {
      background-color: var(--gray-color-0);
      color: var(--dark-color-0);
      border-color: var(--gray-color-0);

      &:hover {
        background-color: var(--gray-color-50);
        border-color: var(--gray-color-0);
      }
    }

    &-secondary {
      background-color: transparent;
      border-color: var(--gray-color-0);
      color: var(--gray-color-0);

      svg path {
        fill: var(--gray-color-0);
      }

      &:hover {
        background-color: var(--gray-color-0);
        color: var(--dark-color-0);

        svg path {
          fill: var(--dark-color-0);
        }
      }
    }

    &-flat {
      background-color: transparent;
      border-color: transparent;
      color: var(--gray-color-0);

      &:hover {
        border-color: var(--gray-color-0);
        color: var(--gray-color-0);
      }
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --button-padding-small: #{vw(2)} #{vw(8)};
    --button-padding-medium: #{vw(2)} #{vw(12)};
    --button-icon-size-small: #{vw(40)};
    --button-icon-size-medium: #{vw(48)};
    --button-text-min-height-small: #{vw(34)};
    --button-text-min-height-medium: #{vw(38)};

    --button-gap: #{vw(8)};
    --button-border-width: #{vw(1)};
  }
}
