.main-section {
  --main-section-inner-gap: 10px;
  --main-section-content-gap: 40px;
  --main-section-content-offset: 40px;
  --main-section-textbox-max-width: 635px;

  width: 100%;

  &__container {
    min-height: 100%;
    display: flex;
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--main-section-inner-gap);
    min-height: 100%;
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--main-section-content-gap);
    text-align: center;
    flex: 1;
    padding-bottom: calc(
      var(--header-height, var(--calback-header-height)) -
        var(--main-section-content-offset) - var(--footer-padding-bottom)
    );
  }

  &__textbox {
    max-width: var(--main-section-textbox-max-width);
    width: 100%;

    p {
      line-height: var(--line-height-tighter);
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --main-section-inner-gap: #{vw(10)};
    --main-section-content-gap: #{vw(40)};
    --main-section-content-offset: #{vw(40)};
    --main-section-textbox-max-width: #{vw(635)};
  }
}
