.page-background {
  width: 100%;
  height: 100%;

  &__box {
    position: fixed;
    z-index: 1;
    inset: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    inset:0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
  }
}
