.project {
  --project-grid: auto 52%;
  --project-inner-gap: 40px;
  --project-top-gap: 20px;
  --project-items-box-gap: 55px;
  --project-items-gap: 24px;
  --project-item-gap: 12px;
  --project-advantages-gap-row: 25px;
  --project-advantages-gap-col: 35px;
  
  --project-img-height: calc(
    100dvh - var(--header-height, var(--calback-header-height)) -
      var(--main-padding-top-no-home) - var(--footer-padding-bottom-single) -
      var(--project-inner-gap)
  );
  --project-img-height-callback: 800px;
 
  
  --project-support-gap: 12px;
  --project-support-padding: 22px 14px;
  --project-support-btns-gap: 12px;

  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--project-inner-gap);
  }

  &__content,
  &__top {
    display: grid;
    grid-template-columns: var(--project-grid);
    gap: var(--project-top-gap);
  }

  &__top {
    align-items: center;
  }

  &__top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--project-top-gap);
    width: 100%;
  }

  &__items-box {
    display: flex;
    flex-direction: column;
    gap: var(--project-items-box-gap);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--project-items-gap);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--project-item-gap);

    p {
      line-height: var(--line-height-tight);
    }
  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--project-advantages-gap-row) var(--project-advantages-gap-col);

    svg path {
      fill: var(--gray-color-0);
    }
  }

  &__support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--project-support-gap);
    padding: var(--project-support-padding);
  }

  &__support-btns {
    display: flex;
    flex-direction: column;
    gap: var(--project-support-btns-gap);
  }

  @media (min-width: $desktop-breakpoint) {
    --project-inner-gap: #{vw(40)};
    --project-top-gap: #{vw(20)};
    --project-items-box-gap: #{vw(55)};
    --project-items-gap: #{vw(24)};
    --project-item-gap: #{vw(12)};
    --project-advantages-gap-row: #{vw(25)};
    --project-advantages-gap-col: #{vw(35)};
    --project-img-height-callback: #{vw(800)};
    --project-img-block-padding: #{vw(16)};
    --project-support-padding: #{vw(22)} #{vw(14)};
    --project-support-gap: #{vw(12)};
    --project-support-btns-gap: #{vw(12)};
  }

  @media (max-width: $lg-breakpoint) {
    --project-inner-gap: 24px;

    &__content {
      display: flex;
      flex-direction: column-reverse;
    }

    &__top {
      display: flex;
    }

    &__top-box {
      display: contents;
    }

    &__title {
      // margin: 0 auto;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__title {
      display: none;
    }

    &__advantages {
      display: flex;
      flex-direction: column;
    }
  }
}
