.about {
  --about-inner-gap: 20px;
  --about-content-gap: #{calculate-clamp(40px, 64px, $desktop-breakpoint, $lg-breakpoint)};

  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: var(--about-inner-gap);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--about-content-gap);
    max-width: calc(100% / 3);
    width: 100%;
    position: sticky;
    height: fit-content;
    top: calc(
      var(--header-height, var(--calback-header-height)) +
        var(--main-padding-top-no-home)
    );
  }

  &__items-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 13px;
    align-items: flex-start;
    max-width: 50%;
  }

  @media (min-width: $desktop-breakpoint) {
    --about-inner-gap: #{vw(20)};
    --about-content-gap: #{vw(64)};
  }

  @media (max-width: $lg-breakpoint) {
    --about-inner-gap: #{calculate-clamp(30px, 40px, $tablet-breakpoint, $mobile-breakpoint)};

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__content {
      position: static;
      max-width: 70%;
    }

    &__hint {
      display: none;
    }

    &__items-box {
      max-width: 100%;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__items-box {
      display: flex;
      flex-direction: column;
    }

    &__content {
      max-width: 100%;
    }
  }
}
