.card-tilted-container {
  perspective: 800px;
  cursor: pointer;
}

.card-tilted {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: box-shadow var(--transition-base) ease;
}
