.contact-form {
  --contact-form-gap: 32px;
  --contact-form-inputs-gap: 12px;
  --contact-form-footer-gap: 12px;

  display: flex;
  flex-direction: column;
  gap: var(--contact-form-gap);
  width: 100%;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--contact-form-inputs-gap);
  }

  &__footer,
  &__btns {
    display: flex;
    flex-direction: column;
    gap: var(--contact-form-footer-gap);
  }

  @media (min-width: $desktop-breakpoint) {
    --contact-form-gap: #{vw(32)};
    --contact-form-inputs-gap: #{vw(12)};
    --contact-form-footer-gap: #{vw(12)};
  }

  @media (max-width: $md-desktop-breakpoint) or (max-height: 730px) {
  }

  @media ((max-width: $md-desktop-breakpoint) and (min-width: $tablet-breakpoint)) or ((max-height: 730px) and (min-width: $tablet-breakpoint)) {
    &__inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & > *:last-child {
        grid-column: 1 / -1;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --contact-form-gap: 12px;
  }
}
