.projects {
  --projects-inner-gap: #{calculate-clamp(24px, 40px, $lg-breakpoint, $tablet-breakpoint)};
  --projects-btns-gap: 12px;
  --projects-items-gap: 12px;
  --projects-empty-padding: 40px;
  --projects-empty-min-height: 200px;

  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--projects-inner-gap);
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: var(--projects-btns-gap);
    flex-wrap: wrap;
  }

  &__btn {
    &.active {
      border-bottom-color: var(--blue-color-100);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--projects-items-gap);
  }

  &__empty {
    grid-column: 1 / -1;
   
  }

  &__empty-box {
    padding: var(--projects-empty-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: var(--projects-empty-min-height);
    width: 100%;
  }

  @media (min-width: $desktop-breakpoint) {
    --projects-inner-gap: #{vw(40)};
    --projects-btns-gap: #{vw(12)};
    --projects-items-gap: #{vw(12)};
    --projects-empty-padding: #{vw(40)};
    --projects-empty-min-height: #{vw(200)};
    
  }

  @media (max-width: $md-desktop-breakpoint) {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
