.swiper {
  min-width: 0;
  width: 100%;
  position: relative;
  height: 100%;

  // &:hover {
  //   .swiper {
  //     &__arrows {
  //       opacity: 1;
  //       visibility: visible;
  //     }
  //   }
  // }

  &:has(.swiper__arrow.prev:disabled):has(
      .swiper__arrow.next:disabled
    ) {
    .swiper {
      &__arrows {
        display: none;
      }
    }
  }

  // &:not(.swiper--init) {
  //   :global(.swiper-wrapper) {
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     gap: 16px;

  //     & > *:nth-child(n + 4) {
  //       display: none;
  //     }

  //     @media (max-width: 1023px) {
  //       grid-template-columns: repeat(2, 1fr);

  //       & > *:nth-child(n + 3) {
  //         display: none;
  //       }
  //     }

  //     @media (max-width: 767px) {
  //       grid-template-columns: repeat(1, 1fr);
        
  //       & > *:nth-child(n + 2) {
  //         display: none;
  //       }
  //     }
  //   }
  // }

  :global(.swiper-pagination-fraction) {
    color: var(--gray-color-0);
    padding-top: 10px;
    text-align: right;
    z-index: 10;
    position: relative;
    transform: translateY(-140%);
    right: 10px;
  }

  :global(.swiper-pagination-lock) {
    display: none;

    // :global(.swiper) {

    // }
  }

  :global(.swiper) {
    height: 100%;
    cursor: grab;
  }

  :global(.swiper-backface-hidden) {
    cursor: default;
  }

  &__slide {
    height: auto;
  }

  // &__arrows {
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   right: 0;
  //   transform: translateY(-50%);
  //   display: flex;
  //   align-items: center;
  //   z-index: 8;
  //   gap: 20px;
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: opacity var(--transition-base);

  //   @media (max-width: 1023px) {
  //     display: none;
  //   }
  // }

  // &__arrow {
  //   position: absolute;

  //   &.prev {
  //     left: 10px;
  //   }

  //   &.next {
  //     right: 10px;
  //   }

  //   &[disabled] {
  //     opacity: 0.5;
  //     pointer-events: none;
  //   }
  // }

  // @media (max-width: 767px) {
  //   :global(.swiper) {
  //     overflow: visible;
  //   }
   
  // }
}
