html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

::selection {
  background: var(--darkviolet-0);
  color: var(--dark-color-0);
}

body {
  background-color: var(--dark-color-0);
  color: var(--gray-color-0);
  font-family: var(--font-family-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);

  &.open-decor {
    overflow: hidden;
  }

  .load {
    overflow: hidden;
  }

  .ready {
    overflow-x: hidden;
  }

  // &::-webkit-scrollbar {
  //   width: 8px;
  // }

  // &::-webkit-scrollbar-track {
  //   border-radius: 0;
  //   background-color: transparent;

  //   width: 100%;
  // }

  // &::-webkit-scrollbar-thumb {
  //   width: 100%;
  //   padding: 2px;
  //   border-radius: var(--radius-7xl);
  //   border: 1px dashed var(--gray-color-100);
  //   background-color: var(--gray-color-50);
  // }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  &:not(.wrapper--home) {
    --main-padding-top-no-home: 60px;

    .main {
      padding-top: calc(
        var(--header-height, var(--calback-header-height)) +
          var(--main-padding-top-no-home)
      );
    }

    // @media (min-width: $desktop-breakpoint) {
    //   --main-padding-top-no-home: #{vw(60)};
    // }
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: calc(var(--header-height, var(--calback-header-height)) + 10px);
  position: relative;
  z-index: 1;

  section {
    position: relative;
    z-index: 1;
    min-height: 100%;

    &:not(:last-child) {
      margin-bottom: var(--gap-blocks);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: var(--icon-base);
  width: var(--icon-base);
  height: var(--icon-base);

  svg,
  img {
    width: 100%;
    height: 100%;
  }

  svg path {
    transition: all var(--transition-base);
  }

  &--small {
    font-size: var(--icon-sm);
    width: var(--icon-sm);
    height: var(--icon-sm);
  }

  &--medium {
    font-size: var(--icon-base);
    width: var(--icon-base);
    height: var(--icon-base);
  }

  &--big {
    font-size: var(--icon-md);
    width: var(--icon-md);
    height: var(--icon-md);
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nextjs-portal {
  display: none !important;
}
