@use "sass:math";

@function calculate-clamp(
  $min,
  $max,
  $width-at-max: 1500px,
  $min-width: 415px
) {
  $slope: math.div($max - $min, $width-at-max - $min-width);
  $intercept: $min - $slope * $min-width;
  @return clamp(#{$min}, calc(#{$intercept} + #{$slope * 100}vw), #{$max});
}
// calculate-clamp(200px, 300px, $lg-breakpoint, $tablet-breakpoint)

@function vw($px) {
  $result: math.div($px, 1439) * 100 + vw;

  @return $result;
}
